.root {
    position: relative;
    left: -120px;
}

.input {
    width: 200px;
    padding: 5px 15px 5px 32px;
    border: 1px solid #e2e2e2;
    color: #000;
    border-radius: 5px;
}

.searchIcon {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 12px;
    top: 8px;
    opacity: 0.5;
}

.closeIcon {
   width: 16px;
   height: 16px;
   position: absolute;
   top: 8px;
   right: 15px;
   opacity: 0.5;
   &:hover {
       cursor: pointer;
       opacity: 0.8;
   }
}